*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
/*    background-color: aqua;*/
    font-family: 'PT Serif', serif;
    background-color: aqua;
}
.side_nav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background-color: transparent;
  overflow-x: hidden;
  padding: 8px 0;
  text-decoration: none;
  margin-top: 200px;
  float: left;
    opacity: 0.9;

}

.side_nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
  color: black;
    background-color: #28a745;
}

.side_nav a: hover{
    background-color: red;
}

.cardBox{
	
	box-shadow:10px 10px 10px grey;
	background-color:#ADD8E6;
}

.author{
	border-radius:10px;
	box-shadow:10px 10px 10px grey;
	background-color:#ADD8E6;
}
#laxmanimg{
	height: 300px;
	width: 300px;
	border-radius: 200px;
}
#ayushimg{
	height: 300px;
	width: 300px;
	border-radius: 200px;
	float:right;
}

h1{
	border-shadow: 5px 5px 5px grey;
	
}

.footer-copyright{
    padding-top: 10px;
    height: 50px;
    border: 2px solid white;
    background-color: grey;
    color: white;
}


#monkey{
    margin-left: 450px;
  
    width: 600px;
    height: 330px;
    margin-top: 40px;
/*    border: 2px solid red;*/
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 340px;
    margin-bottom: 10px;
    background-color: burlywood;
    box-shadow: 15px 10px black;
}
@keyframes mymove {
	from {left: 0px;}
	to{left: 780px;}
}

#myDiv{
right: 900px;
    width: 500px;
  height: 20px;
    position: inline-block;
  font-size: 25px;
  animation: mymove 5s infinite;
    text-align-last: center;  
    z-index = 1;
}

#signupbg{
	background-color: orange;
}

.mainField{
	width:100%;
	height:100vh;
	background-image:url('../images/advertise.jpg');
	background-size:100% 100%;
	background-repeat:norepeat;
	justify-content:center;
	display:flex;
	text-align:center;
	color:#9370DB;
	align-items:center;
}

main h3{
	font-weight:300;
	font-size:50px;
	letter-spacing:3px;
	text-shadow:2px 2px 2px black;
}

main h1{
	font-weight:600;
	font-size:50px;
	letter-spacing:2px;
	text-shadow:5px 2px 2px black;
}
main h2{
	font-weight:600;
	font-size:50px;
	letter-spacing:2px;
	text-shadow:5px 2px 2px black;
}
.change_content:after{
	content:'';
	animation: changetext 10s infinite linear;
	text-transform:uppercase;
}

@keyframes changetext{
	0%{content: "Social Media";}
	50%{content: "Flyer";}
	100%{content:"Digital";}
}


.nextA{
	align-items:center;
	justify-content:center;
	text-align:center;

}
.nextA .card{
	float:right;
}
.nextB{
	align-items:center;
	justify-content:center;
	text-align:center;
}

h1{
	font-size:40px;
	padding-top: 10px;
	text-shadow: 2px 2px 2px grey;
	
	text-transform:uppercase;
}

h1:hover{
	animation:textGrow 3s infinite Linear;
}

@keyframes textGrow{
	0%{font-size:40px;}
	100%{font-size:50px;}
}




